__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
predicate-analyzer/node_modules/
predicate-analyzer/.next/
predicate-analyzer/out/
predicate-analyzer/.env
predicate-analyzer/.env.*
!predicate-analyzer/.env.local.example

thumbs.db
.DS_Store
.idea
